/* main{
    height: 98vh;
    display: block;
    align-items: center;
    background-color: hwb(42 2% 69% / 0.616);
}
.ini{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;  
} */
a:link {
    color: inherit;
  }
h1,
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    color: white;
}
.footer{
    background-color:cornflowerblue;
}

img{
    display: flex;
    
    width: 600px;
    align-items: center;
    
}
.presup,
#presupuestosContenedor{
    display: flex;
    flex-direction: column;
    
    background-color: black;
}
.boton-contacto,
.boton-volver,
#boton-volver{
        display: block;
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
    color: white;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(0, 0, 0);
    transition: all 1s;
}
.boton-volver:hover, .boton-contacto:hover{
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 1px;
}
.mainContainer {
    padding-left: 150px;
    padding-top: 130px;
    padding-right: 150px;
    padding-bottom: 130px;
    background-color: black;
  }
  ul{
    background-color: black;
  }
  #containerform{
    padding-left: 150px;
    padding-top: 130px;
    padding-right: 150px;
  }